<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="InstrumentationKey" value="75c82881-b330-4c8a-8f2b-eb0ddaec75c3"></setting>
    </settings>
    <log4net>
      <appender name="aiAppender" type="BasLijten.SC.Diagnostics.ApplicationInsights.ApplicationInsightsAppender, BasLijten.SC.Diagnostics.ApplicationInsights">
        <layout type="log4net.Layout.PatternLayout">          
          <conversionPattern value="%m%n"/>
        </layout>
      </appender>
      <root>
        <appender-ref  patch:after="*[@ref='LogFileAppender']" ref="aiAppender" />
      </root>
    </log4net>    
    <pipelines>
      <initialize>
        <processor type="BasLijten.SC.Diagnostics.ApplicationInsights.Pipelines.ApplicationInsightsProcessor, BasLijten.SC.Diagnostics.ApplicationInsights">          
        </processor>
      </initialize>
    </pipelines>    
  </sitecore>
</configuration>